.input {
  height: 50px;
  width: 80%;
  border-radius: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background: none;
  border: none;
  margin-left: 12px;
  flex: 1;
}

input :focus {
  outline: none;
}

button {
  margin-right: 8px;
  background-color: rgb(210, 207, 207);
  border: none;
  border-radius: 6px;
  height: 30px;
  width: 50px;
}
