.app {
  height: 100vh;
  width: 100vh;
  background-color: rgb(165, 162, 162);
  display: grid;
  place-items: center;
}

.app-container {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(210, 210, 210);
  border-radius: 6px;
  padding: 32px 0;
}

.app-todo-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
